@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-size: 20px;

    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #db5d27;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
}

:root {
    --Header_color: #f83909;
    --Body_Color: #fdc024;
}

body {

    display: flex;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
    background: linear-gradient(var(--Body_Color),#f83909);
 /*    background-color: var(--Body_Color); */
    flex-direction: column;

} 

header {
    background-color: var(--Header_color);
/*     filter: blur(1px); */
    display:flex;
    align-items: center;
    height: 11vh;
    position: fixed;
    width:100%;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 1rem;
}

header .logo {
    
    display: flex;
    cursor: pointer;
    flex: 1;
    flex-grow: 1;
}

header .logo img {

    height: 80px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover {

    transform: scale(1.2);
}

header .nav_link{

    display: flex;
    flex: 2;
    flex-grow: 2;
}

header .nav_link li{
    
    display: inline-block;
    padding: 0 20px;
}

header .nav_link li:hover{

    transform: scale(1.1);

}

header .nav_link a {

    font-size: 700;
    color: white;
    text-decoration: none;
}

header .nav_link li a:hover{

    color: gold;
}

header .btn button{

    font-weight: 500;
    color:darkslategray;
    padding: 5px 20px;
    background: beige;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header .btn button:hover{
    
    background-color: blanchedalmond;
    color: darkorange;
    transform: scale(1.1);
}

main {
    margin-top: 12vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width:100%;
    width: 100%;
}
about
{
    margin-top: 12vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width:100%;
    width: 100%;

}



#contenido {
    display: flex;
    flex-direction:column;
    gap: 1rem;
    color: var(--text-white);
    width: 50%;
   
    justify-content:flex-start;

}

#contenido fila{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #02050e;
}
#contenido button {
    border-radius: 10%;
    border-style: solid;
    background-color: #db5d27;
    text-decoration: none;
    
width:300px;

}


#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
/*     background-color: var(--secondary); */
    border-radius: 1rem;
    background: linear-gradient(#db5d27,#f83909);
    
}

#card header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#card_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#card header span {
    background-color: var(--primary);
    color: var(--text-white);
    width: 2.5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}

#card header h2 {
    color: var(--text-white);
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.imagencar
{
    width:150px;
     height:150px;

}

.card_content {
    display: flex;
    gap: 1rem;
}

.descripcion{
    background: linear-gradient(#db5d27,#f83909);

    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    padding: 10px;
    margin: 5rem;
    align-content: center;
    border: 5px solid;
    box-shadow: #dfc73f;
    border-radius: 10%;
    border-color: #db5d27;
    
}


.card_content article {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_content article h3 {
    width: 50%;
    color: var(--text-gray);
    font-weight: 300;
    font-size: 1rem;
}



